<h1>General Retreat Information</h1>


<p><h2>Things to know</h2></p>
<p><em>Check-in</em> begins at 5:30 p.m. on Friday. Pick up your name tag and check the job schedule posted near the registration table.  It is suggested that one representative of each family sign up for a specific job during the weekend.</p>
<p><em>Meals</em> will be in the camp’s dining hall and large tent.</p>
<p><em>Rain locations</em> for sessions will be announced as necessary (but let's pray for good weather!).</p>
<p><em>Sunday worship</em> will be held, weather  permitting, outside on the lawn.  Bring lawn chairs or blankets, as there will be no benches. Follow signs for parking and the service.</p>
<p><em>Please Note:</em></p>
<ul>
	<li>No riding bikes after dark</li>
    <li>Rain location for all outdoor activities will be announced as necessary</li>
    <li>MYF sponsors will encourage high school youth to participate in all adult activities and worship, but youth and parents have ultimate responsibility for attendance.</li>
    <li>Please respect nature — don’t leave trash!</li>
</ul>

<p><h2>What to bring</h2></p>
<ul>
	<li>Sleeping bag/linens</li>
	<li>Musical instruments</li>
	<li>Personal supplies</li>
	<li>Bike and helmet</li>
	<li>Walking shoes</li>
	<li>Table games</li>
	<li>Insect repellent</li>
	<li>Bible</li>
	<li>Lawn chairs/blankets</li>
	<li>Outdoor game equipment</li>
	<li>Flashlight</li>
	<li>$$ for MYF Fundraiser</li>
	<li>Dish for Friday night potluck</li>
</ul>
