<h1>General Retreat Information</h1>
<p><h2>One Spirit, Many Songs</h2></p>
	<p>Why do we sing? What do we sing? And why do we sing what we sing? This year we will engage with music as a tool for spiritual education and faith formation, and together we will experience music as an approach to creating and strengthening community as we join in a celebration and expression of the divine, creative Spirit. Throughout the weekend we will take a closer look at what we sing (and listen to), and we’ll ask ourselves questions about why we choose to sing (and listen to) the songs we do.</p>

<p>In taking time to share with each other about the music that we have found meaningful and helpful – both inside and outside the church – we will hopefully develop a deeper appreciation for the variety in our musical diets. For there is one Spirit (and we are one in that Spirit), but there are many songs and ways of singing praise – silly songs, songs of lament, sacred songs, secular songs, songs that give us voice when we have none, and songs that help define us.</p>

<p><strong>Guest Presenter</strong><br />
Seth Crissman is an educator, musician, seminary student, and passionate follower of Jesus who has lived in Harrisonburg, VA for almost 10 years (he still says “Western Pennsylvania” when people ask where’s from…Johnstown, in case you were wondering more specifically). A primary player in the creation of at least two (but possibly more?) kids’ clubs for young people in Harrisonburg city, Seth loves to learn and teach about Jesus and God’s overwhelming love. He is a key songwriter for Harrisonburg’s own Walking Roots Band, and he gets very (very, very!) excited when talking about the roles that music plays in the church and in faith formation. Right behind God – and right ahead of making music – Seth’s greatest love in life is his wife, Theresa, who teaches English Language Learners at Keister Elementary School.</p>

<p><h2>Things to know</h2></p>
<p><em>Check-in</em> begins at 5:30 p.m. on Friday. Pick up your name tag and check the job schedule posted near the registration table.  It is suggested that one representative of each family sign up for a specific job during the weekend.</p>
<p><em>Meals</em> will be in the camp’s dining hall and large tent.</p>
<p><em>Rain locations</em> for sessions will be announced as necessary (but let's pray for good weather!).</p>
<p><em>Sunday worship</em> will be held, weather  permitting, outside on the lawn.  Bring lawn chairs or blankets, as there will be no benches. Follow signs for parking and the service.</p>
<p><em>Please Note:</em></p>
<ul>
	<li>No riding bikes after dark</li>
    <li>Rain location for all outdoor activities will be announced as necessary</li>
    <li>MYF sponsors will encourage high school youth to participate in all adult activities and worship, but youth and parents have ultimate responsibility for attendance.</li>
    <li>Please respect nature — don’t leave trash!</li>
</ul>

<p><h2>What to bring</h2></p>
<ul>
	<li>Sleeping bag/linens</li>
	<li>Musical instruments</li>
	<li>Personal supplies</li>
	<li>Bike and helmet</li>
	<li>Walking shoes</li>
	<li>Table games</li>
	<li>Insect repellent</li>
	<li>Bible</li>
	<li>Lawn chairs/blankets</li>
	<li>Outdoor game equipment</li>
	<li>Flashlight</li>
	<li>$$ for MYF Fundraiser</li>
	<li>Dish for Friday night potluck</li>
</ul>
