<h1>General Retreat Information</h1>
<h2>What borders should be crossed? What Boundaries should be respected?</h2>
<p>Boundaries and borders surround us: political borders between countries, social boundaries regarding acceptable behavior, geographic boundaries such as rivers and mountain ranges, and economic and cultural boundaries separating groups of people from each other.  Most of these borders and boundaries are seen as useful and even desirable tools, and some of them are so ingrained in our actions that we don’t even see the line until someone crosses it. </p>
<p>This weekend, Jayne Docherty will help CMCers explore the borders and boundaries in our own lives as individuals and as a church body as we test which borders and boundaries should be crossed, and which should be respected.  This may be uncomfortable at times — you may have to step out of your comfort zone for awhile or think outside the box.</p>

<p><h3>JAYNE DOCHERTY</h3> is a professor of leadership and public policy at the Center for Justice and Peacebuilding at Eastern Mennonite University. Jayne consults with organizations and communities in transition, working with them to harness the positive energy of conflict and minimize its negative effects. Her current area of focus for research, writing and practice is improving the use of negotiation in unstable situations so that the results yield durable but flexible systems for creating long-term and sustainable peace with justice. Jayne’s work is deeply influenced by Catholic teachings on peace and social justice. She worships at Emmanuel Episcopal Church in Harrisonburg.</p>

<p><h2>Things to know</h2></p>
<p><em>Check-in</em> begins at 5:30 p.m. on Friday. Pick up your name tag and check the job schedule posted near the registration table.  It is suggested that one representative of each family sign up for a specific job during the weekend.</p>
<p><em>Meals</em> will be in the camp’s dining hall and large tent.</p>
<p><em>Rain locations</em> for sessions will be announced as necessary (but let's pray for good weather!).</p>
<p><em>Sunday worship</em> will be held, weather  permitting, outside on the lawn.  Bring lawn chairs or blankets, as there will be no benches. Follow signs for parking and the service.</p>
<p><em>Please Note:</em></p>
<ul>
	<li>No riding bikes after dark</li>
    <li>Rain location for all outdoor activities will be announced as necessary</li>
    <li>MYF sponsors will encourage high school youth to participate in all adult activities and worship, but youth and parents have ultimate responsibility for attendance.</li>
    <li>Please respect nature — don’t leave trash!</li>
</ul>

<p><h2>What to bring</h2></p>
<ul>
	<li>Sleeping bag/linens</li>
	<li>Musical instruments</li>
	<li>Personal supplies</li>
	<li>Bike and helmet</li>
	<li>Walking shoes</li>
	<li>Table games</li>
	<li>Insect repellent</li>
	<li>Bible</li>
	<li>Lawn chairs/blankets</li>
	<li>Outdoor game equipment</li>
	<li>Flash light</li>
	<li>$$ for MYF Fundraiser</li>
	<li>Dish for Friday night potluck</li>
</ul>
