<h1>Retreat Schedule</h1>
<p>
Friday Evening:
<ul><li>5:30-6:30 Registration</li>
<li>7:15-8:45 Camp Songs, Circle Dances, and Community through Music – Greg Yoder</li>
<li>8:45-9:30 Snack</li>
</ul></p>
<p>
Saturday:
<ul><li>7:45-8:45 Breakfast (Cereal out at 6:30)</li>
<li>9:00-10:15 Group session in the chapel with Seth Crissman</li>
<li>10:30-11:45 Break-out Session I
<ul>
  <li>What We Listen To When We’re Not at Church - Ben Roth Shank (chapel)</li>
  <li>Sacred Harp singing – Jeremy Nafziger (amphitheater)</li>
  <li>Hymn Bracket Madness – Linda Martin Burkholder (dining tent)</li>
  <li>Birdsongs - Matt Gingerich (nature!)</li>
  <li>Coffee and Conversation (dining hall and everywhere!)</li></ul></li>
  <li>12-1:00 Lunch</li>
<li>1:15-2:30 Break-out Session II
<ul><li>Song/Hymn-writing Workshop – Seth&Greg (chapel)</li>
<li>Singing and Reflections (from Romania and Beyond) – Jay Hartzler (amphitheater)</li>
<li>Visual-arts in response to Music - TBD (dining tent)</li>
<li>MMC School Kit Stuff – Marsha Thomas (dining hall)</li>
<li>Music jam session (dining tent)</li>
<li>Coffee and Conversation (dining hall and everywhere!)</li></ul></li>
<li>2:30-5:00 Free time for hiking, games, ultimate frisbee, music, & pond</li>
<li>5:00-6:00 Dinner</li>
<li>7:00-8:30 “Listen to This: CMC Musicians Concert & Sharing” </li>
<li>8:45-9:30 MYF fundraiser snack</li>
<li>10:00 Quiet hours thru 7:00 a.m.</li>
</ul></p>
<p>
Sunday Morning
<ul><li>7:45-8:45 Breakfast</li>
<li>9:00-10:00 Cabin/campsite cleanup</li>
<li>10:00-11:30 Worship</li>
<li>11:45-12:45 Lunch</li>
<li>1:00-2:00 Cleanup</li>
</ul></p>