<h1>Retreat Schedule</h1>
<p><h2>Friday Schedule</h2></p>
<ul>
	<li>5:30-6:30   Registration</li>
	<li>6:00-7:00  Potluck supper</li>
	<li>7:15-8:45 Group games</li>
	<li>8:45-9:30 Snack</li>
</ul>

<p><h2>Saturday Schedule</h2></p>
<ul>
	<li>7:45-8:45 Breakfast</li>
	<li>9:00-10:15 Group session in the chapel with Jayne Docherty</li>
	<li>10:30-11:45  Break-out Session I
		<ul>
			<li>OCP and class divides (amphitheater)</li>
			<li>Response to morning session (chapel)</li>
			<li>Immigration (dining tent)</li>
			<li>Writing workshop (dining hall)</li>
			<li>The global church (back of chapel)</li>
		</ul>
	</li>
	<li>12-1:00 Lunch</li>
	<li>1:15-2:30  Break-out Session II
		<ul>
			<li>Isaiah 65 bible study (chapel)</li>
			<li>Small group dynamics (dining tent)</li>
			<li>Mixed media art session (dining hall)</li>
			<li>Nature walk (meet by the tent)</li>
			<li>Music jam session (amphitheater)</li>
		</ul>
	</li>
	<li>2:30-5:00 Free time for hiking, games, ultimate frisbee, music, & pond</li>
	<li>5:00-6:00 Dinner</li>
	<li>7:00-8:30 Sing-Along Concert with <a href="http://www.thewalkingrootsband.com/">The Walking Roots Band</a></li>
	<li>8:45-9:30 MYF fundraiser snack</li>
	<li>10:00 Quiet hours thru 7:00 a.m.</li>
</ul>
<p><h2>Sunday Schedule</h2></p>
<ul>
	<li>7:45-8:45  Breakfast</li>
	<li>9:00-10:00 Cabin/campsite clean-up</li>
	<li>10:00-11:30 Worship</li>
	<li>11:45-12:45 Lunch</li>
	<li>1:00-2:00 Clean up</li>
</ul>
