<h3>Crossing Borders, Respecting Boundaries</h3>
<h2>Welcome to the online registration for CMC's 2013 Retreat!</h2>
<p><strong>Dates:</strong><br />
	September 6-8 at <a href="http://overlookretreatandcampministries.weebly.com/">Camp Overlook</a>, in Keezletown, VA
</p>
<p>
<%= link_to "Click Here to Sign Up", new_family_path %><br />
On the sign-up page, you will need to enter each person who is coming, what nights and meals you'll be there for, and a few other minor items. You will have the option of paying via PayPal. Alternatively, you can write a check at church or bring one to the retreat.<br /></p>
<p>
Please note that cabins are first-come, first-served. There is a lady's cabin and a men's cabin.</p>
<p>People needing special accomodations or financial support to attend retreat should contact <a href="mailto:kaitlin.heatwole@gmail.com">Kaitlin Heatwole</a>.</p> 
<p>
If you want to bunk with a friend, then show up together and claim your spots (Retreat Committee doesn't assign beds/cabins).<br />
</p>